<strong><p>Write Comment:</p></strong>
<%= form_with model: [ article, article.comments.build ] do |form| %>
  <p>
    <%= form.text_area :comment_body, :placeholder => "Write you comment here...", :class => "cmt-txt-area" %>
  </p>
  <p>
    <%= form.submit "Comment", :class => "btn btn-success"%>
  </p>
<% end %>

