
<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.user_name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.comment_body %>
  </p>

<% end %>

