/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.signout-text {
    text-decoration: none;
    color: white;
}

.signout-text:hover {
    color: yellow;
}

.create-article-btn {
    width: 50%;
}
.my-footer {
    margin-top: 50px;
    background-color: #2E2F30;
    color: white;
    text-decoration: none;
}
h1.entry-title{
    font-size: 50px;
}
.entry-title {
    margin-bottom:0px;
}
h1 {
    font-family: Helvetica;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2em;
}
.entry-meta {
    color: #595959;
    font-size: 85%;
    margin-top: .5em;
    line-height: 1.5;
    margin-bottom: 20px;
}
.comment-form {
    margin-bottom: 13%;
}
.cmt-txt-area {
    width: 50%;
    border-color: #999999;
}
.cmt-label {
    font-size: 10px;
}
.user-img {
    width: 40px;
    border-radius: 50%;
}
.input-form {
    margin-top: 5%;
}
.text-area-style {
    margin-top: 0px; margin-bottom: 0px; height: 414px;
}
.web-font-sz {
    font-size: 30px;
}
.fixed-right {
    float:right;
}
